<h3>Practice 4</h3>
<p class="jumbotron">
  • Create a Registration/signup form where in following fields are mandatory, Additionally you can add more fields to explore more for e.g. – Gender, Nationality and so on <br>
  1)	Username <br>
  2)	Email  <br>
  3)	Password<br>
  4)	Confirm Password<br>
  5)	Signup/Register button<br>
Form Validations should be applicable for all the fields if you leave any field blank or you enter invalid data. Once
you click on Signup/Register button all the entered data should be visible either on console or on to the same page in
the form of User JSON Object.
</p>
<div class="row">
  <div class="col">
    <app-login></app-login>
  </div>
</div>
