<h3>Practice 5</h3>
<p class="jumbotron">
  <span><h4>Using Rective Forms</h4></span>
  • Create a Registration/signup form where in following fields are mandatory, Additionally you can add more fields to explore more for e.g. – Gender, Nationality and so on <br>
  1)	Username <br>
  2)	Email  <br>
  3)	Password<br>
  4)	Confirm Password<br>
  5)	Signup/Register button<br>
Form Validations should be applicable for all the fields if you leave any field blank or you enter invalid data. Once
you click on Signup/Register button all the entered data should be visible either on console or on to the same page in
the form of User JSON Object.
</p>
<div class="row">
  <div class="col-md-7">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">Firstname</label>
        <div class="col-sm-8">
          <input type="text" name="firstname" id="firstname" class="form-control" formControlName="firstname"
          [ngClass]="{'is-invalid': signupForm.controls['firstname'].invalid && (signupForm.controls['firstname'].dirty || signupForm.controls['firstname'].touched),
          'is-valid': signupForm.controls['firstname'].valid}">

          <div class="invalid-feedback" *ngIf="signupForm.controls['firstname'].invalid && (signupForm.controls['firstname'].dirty || signupForm.controls['firstname'].touched)">
            <div *ngIf="signupForm.controls['firstname']?.errors.required">
              Firstname is required
            </div>
            <div *ngIf="signupForm.controls['firstname']?.errors.minlength">
              Minimum length should be 6.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="lastname" class="col-sm-4 col-form-label">Lastname</label>
        <div class="col-sm-8">
          <input type="text" name="lastname" id="lastname" class="form-control" formControlName="lastname"
          [ngClass]="{'is-invalid': signupForm.controls['lastname'].invalid && (signupForm.controls['lastname'].dirty || signupForm.controls['lastname'].touched),
          'is-valid': signupForm.controls['lastname'].valid}">

          <div class="invalid-feedback" *ngIf="signupForm.controls['lastname'].invalid && (signupForm.controls['lastname'].dirty || signupForm.controls['lastname'].touched)">
            <div *ngIf="signupForm.controls['lastname']?.errors.required">
              Lastname is required
            </div>
            <div *ngIf="signupForm.controls['lastname']?.errors.minlength">
              Minimum length should be 6.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="gender" class="col-sm-4 col-form-label">Gender</label>
        <div class="col-sm-8">
          <div class="radio" *ngFor="let genderEl of genders">
            <label>
              <input type="radio" [value]="genderEl" formControlName="gender">
              {{genderEl}}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label">Email Id</label>
        <div class="col-sm-8">
          <input type="text" name="email" id="email" class="form-control" formControlName="email"
          [ngClass]="{'is-invalid': signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched),
          'is-valid': signupForm.controls['email'].valid}">

          <div class="invalid-feedback" *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)">
            <div *ngIf="signupForm.controls['email']?.errors.required">
              Email is required
            </div>
            <div *ngIf="signupForm.controls['email']?.errors.email">
              Invalid email
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="password" class="col-sm-4 col-form-label">password</label>
        <div class="col-sm-8">
            <input type="password" name="password" id="password" class="form-control" formControlName="password"
            [ngClass]="{'is-invalid': signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched),
            'is-valid': signupForm.controls['password'].valid}">

            <div class="invalid-feedback" *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)">
              <div *ngIf="signupForm.controls['password']?.errors.required">
                password is required
              </div>
              <div *ngIf="signupForm.controls['password']?.errors.minlength">
                  Minimum length should be 6.
              </div>
              <div *ngIf="signupForm.controls['password']?.errors.mismatch && signupForm.controls['confirmPassword'].valid">
                  {{signupForm.controls['password'].errors.mismatch}}
              </div>
            </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="confirmPassword" class="col-sm-4 col-form-label">Confirm Password</label>
        <div class="col-sm-8">
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" formControlName="confirmPassword"
            appConfirm
            [ngClass]="{'is-invalid': signupForm.controls['confirmPassword'].invalid && (signupForm.controls['confirmPassword'].dirty || signupForm.controls['confirmPassword'].touched),
            'is-valid': signupForm.controls['confirmPassword'].valid}">

            <div class="invalid-feedback" *ngIf="signupForm.controls['confirmPassword'].invalid && (signupForm.controls['confirmPassword'].dirty || signupForm.controls['confirmPassword'].touched)">
              <div *ngIf="signupForm.controls['confirmPassword']?.errors.required">
                confirmPassword is required
              </div>
              <div *ngIf="signupForm.controls['confirmPassword']?.errors.mismatch">
                  {{signupForm.controls['confirmPassword'].errors.mismatch}}
              </div>
            </div>
        </div>
      </div>
      <div class="form-group text-center">
        <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <div class="col">
      <pre *ngIf="formResult">{{signupForm.value | json}}</pre>
  </div>
</div>
